.chat__messages--message
  .chat__messages--message--upperMessage
    .chat__messages--message--upperMessage--name
      = message.user.name
    .chat__messages--message--upperMessage--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat__messages--message--lowerMessage
    - if message.content
      %p.chat__messages--message--lowerMessage--content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    